* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main {
    position: absolute;
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    display: flex;
}
.left {
    position: fixed;
    width: 50%;
    height: 100%;
    background-color: black;
}
.right {
    position: fixed;
    right: 0px;
    width: 50%;
    height: 100%;
    background-color: #f07900;
}
.open-transition {
    width: 0;
    transition: 1s linear width;
  }
.introDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    padding: 50px;
    border: 5px solid;
    border-left-color: #f07900;
    border-bottom-color: #f07900;
    border-top-color: black;
    border-right-color: black;
    color: #fff;
}
.introAnim {
    background-color: black;
    width: 100px;
    padding: 0px;
    border: 1px solid #f07900;
    left: 10px;
    top: 10px;
    transform: translate(0px);
    transition: 1s linear all;
}
.introAnim .headingName {
    font-size: 10px;
}
.introAnim .subHeading {
    font-size: 4px;
}
.introAnim .openBtn {
    padding: 1px;
    top: -5px;
    font-size: 5px;
}
.headingName {
    font-size: 70px;
    font-family: cursive;
}
.subHeading {
    font-size: 18px;
    font-family: monospace;
    letter-spacing: 3px
}
.openBtn {
    border: none;
    background: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 5px;
    border-top: 1px solid #fff;
    position: relative;
    top: 20px;
    cursor: pointer;
}
@media screen and (max-width: 600px) and (max-height: 900px) and (orientation: portrait) {
    .headingName {
        font-size: -webkit-xxx-large;
    }
}